In [3]:
import sqlite3

In [ ]:
# Connect to (or create) the SQLite database
conn = sqlite3.connect("data/users.db")
cursor = conn.cursor()

In [3]:
# Create the users table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    age INTEGER NOT NULL
)
""")

In [4]:
# Sample user data
users_data = [
    ("Alice Johnson", "alice@example.com", 28),
    ("Bob Smith", "bob@example.com", 34),
    ("Charlie Brown", "charlie@example.com", 25),
    ("Diana Ross", "diana@example.com", 40)
]

In [5]:
# Insert users into the table
cursor.executemany("INSERT INTO users (name, email, age) VALUES (?, ?, ?)", users_data)

In [6]:
# Commit changes and close the connection
conn.commit()

In [7]:
# Fetch and display the inserted users
cursor.execute("SELECT * FROM users")
users = cursor.fetchall()

print("Users in the database:")
for user in users:
    print(user)

conn.close()

Users in the database:
(1, 'Alice Johnson', 'alice@example.com', 28)
(2, 'Bob Smith', 'bob@example.com', 34)
(3, 'Charlie Brown', 'charlie@example.com', 25)
(4, 'Diana Ross', 'diana@example.com', 40)

# sqlalchemy

In [11]:
from sqlalchemy import create_engine, text

In [12]:
engine = create_engine("sqlite:///users.db")
connection = engine.connect()

result = connection.execute(text("SELECT * FROM users"))

# Fetch and print results
for row in result:
    print(row)

# Close the connection
connection.close()

(1, 'Alice Johnson', 'alice@example.com', 28)
(2, 'Bob Smith', 'bob@example.com', 34)
(3, 'Charlie Brown', 'charlie@example.com', 25)
(4, 'Diana Ross', 'diana@example.com', 40)

# Pandas

In [6]:
import pandas as pd

In [ ]:
# use engine 
df = pd.read_sql_query("SELECT * FROM users", engine)
df.head()

   id           name                email  age
0   1  Alice Johnson    alice@example.com   28
1   2      Bob Smith      bob@example.com   34
2   3  Charlie Brown  charlie@example.com   25
3   4     Diana Ross    diana@example.com   40

# Excercise

## sqlite

In [1]:
#QUERY
sql = "SELECT name from sqlite_master where type = 'table'"

In [ ]:
#Conexion
conn = sqlite3.connect("data/nba_salary.sqlite")

In [12]:
#Creamos el df
df = pd.read_sql_query(sql,conn)
df.head()

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [14]:
df_nba = pd.read_sql_query("SELECT * from NBA_season1718_salary",conn)
df_nba.head()

    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0

In [15]:
conn.close()

## sqlalchemy

In [9]:
import sqlalchemy as db

In [16]:
#Conexion
engine = db.create_engine('sqlite:///nba_salary.sqlite')
connection = engine.connect()

In [17]:
df_nba_sqlalchemy = pd.read_sql_query("SELECT * from Seasons_Stats",connection)
df_nba_sqlalchemy.head()

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [18]:
df_Curly = pd.read_sql_query("SELECT * from Seasons_Stats where Player = 'Curly Armstrong'",connection)
df_Curly.head()

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,None,None,None,...,0.705,None,None,NaN,176.0,None,None,None,217.0,458.0
1,314.0,1951.0,Curly Armstrong,G-F,32.0,FTW,38.0,None,None,None,...,0.644,None,None,89.0,77.0,None,None,None,97.0,202.0

In [19]:
prom_PTS = df_nba_sqlalchemy['PTS'].mean() 
prom_PTS

np.float64(510.1163499025341)

In [20]:
connection.close()