In [1]:
import sqlite3

In [2]:
# Connect to (or create) the SQLite database
conn = sqlite3.connect("users.db")
cursor = conn.cursor()

In [3]:
# Create the users table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    age INTEGER NOT NULL
)
""")

In [4]:
# Sample user data
users_data = [
    ("Alice Johnson", "alice@example.com", 28),
    ("Bob Smith", "bob@example.com", 34),
    ("Charlie Brown", "charlie@example.com", 25),
    ("Diana Ross", "diana@example.com", 40)
]

In [5]:
# Insert users into the table
cursor.executemany("INSERT INTO users (name, email, age) VALUES (?, ?, ?)", users_data)

In [6]:
# Commit changes and close the connection
conn.commit()

In [7]:
# Fetch and display the inserted users
cursor.execute("SELECT * FROM users")
users = cursor.fetchall()

print("Users in the database:")
for user in users:
    print(user)

conn.close()

Users in the database:
(1, 'Alice Johnson', 'alice@example.com', 28)
(2, 'Bob Smith', 'bob@example.com', 34)
(3, 'Charlie Brown', 'charlie@example.com', 25)
(4, 'Diana Ross', 'diana@example.com', 40)

# sqlalchemy

In [11]:
from sqlalchemy import create_engine, text

In [12]:
engine = create_engine("sqlite:///users.db")
connection = engine.connect()

result = connection.execute(text("SELECT * FROM users"))

# Fetch and print results
for row in result:
    print(row)

# Close the connection
connection.close()

(1, 'Alice Johnson', 'alice@example.com', 28)
(2, 'Bob Smith', 'bob@example.com', 34)
(3, 'Charlie Brown', 'charlie@example.com', 25)
(4, 'Diana Ross', 'diana@example.com', 40)

# Pandas

In [14]:
import pandas as pd

In [ ]:
# use engine 
df = pd.read_sql_query("SELECT * FROM users", engine)
df.head()

   id           name                email  age
0   1  Alice Johnson    alice@example.com   28
1   2      Bob Smith      bob@example.com   34
2   3  Charlie Brown  charlie@example.com   25
3   4     Diana Ross    diana@example.com   40