In [1]:
import pandas as pd

In [2]:
employee_df = pd.read_csv("./data/empleados.csv")
employee_df.head()

   ID_Empleado  Nombre Departamento  Salario Fecha_Ingreso
0            1     Ana       Ventas    50000    2015-06-01
1            2    Luis           TI    70000    2017-03-15
2            3   Pedro    Marketing    60000    2018-11-01
3            4   Marta           TI    75000    2020-01-10
4            5  Carlos       Ventas    52000    2016-05-01

In [ ]:
bonuses_df = pd.read_csv("./data/bonificaciones.csv")
bonuses_df.head()