In [6]:
import pandas as pd

# filter and select

In [2]:
data = {
    "Product": ['A', 'B', 'C'],
    "Quantity": [3, 0, 5],
    "price": [10, 20, 15]
}

In [3]:
df = pd.DataFrame(data)
df.head()

  Product  Quantity  price
0       A         3     10
1       B         0     20
2       C         5     15

In [4]:
filtered_df = df[df["Quantity"] > 1]
filtered_df.head()

  Product  Quantity  price
0       A         3     10
2       C         5     15

In [6]:
selected_df = filtered_df[["Product", "Quantity"]]
selected_df.head()

  Product  Quantity
0       A         3
2       C         5

In [8]:
filtered_df.loc[:, "Total amount"] = filtered_df["Quantity"] * filtered_df["price"]
filtered_df.head()

  Product  Quantity  price  Total amount
0       A         3     10            30
2       C         5     15            75

# Group by and summarize data

In [4]:
data = {
    "Product":['A', 'B', 'A', 'B'],
    "Sales":  [10, 20, 30, 40]
}

In [8]:
df = pd.DataFrame(data)
df.head()

  Product  Sales
0       A     10
1       B     20
2       A     30
3       B     40

In [ ]:
group = df.groupby("Product").agg({"Sales": ['sum', 'mean']})
group.head()

        Sales
          sum  mean
Product
A          40  20.0
B          60  30.0